
.main-container {
  max-width: 90%;
  margin: 20px auto;
  padding: 20px;
  color: #fff;

}

.main-container .title {
  font-size: 34px;
  margin-bottom: 20px;
}

.main-container .paragraph {
  font-size: 16px;
  margin-bottom: 20px;
}

.main-container .box {
  width: 100%;
  display: flex;

  border-radius: 50px;
  margin-bottom: 30px;
  overflow: hidden;
  background: url('../img/products1.png') no-repeat center/cover;


}
.main-container .box2 {
  background: url('../img/products2.png') center/cover;
}
.main-container .box3 {
  background: url('../img/products3.png') center/cover;
}

.box-left,
.box-right {
  flex: 1;
  padding: 60px;
}

.box-title {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 10px;
}


.bullet-points {

  padding: 0;
  margin: 0;
}

.bullet-points li {
  font-size: 16px;
  margin-bottom: 5px;
}

.network-scanner-tag {
  background: linear-gradient(135deg, #0886D6, #001F56);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
}
