.services-section {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    color: white;
    max-width: 1366px;
    margin: 0 auto;
}

.services-section .column {
    width: 33%;
    box-sizing: border-box;
}

.services-section .column2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-section .column2 img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
.services-section .column h2 {
    font-size: 2.1rem; /* Adjusted font size using rem */
    margin-bottom: 1rem; /* Adjusted margin using rem */
}

.services-section .column p {
    font-size: 1.4rem; /* Adjusted font size using rem */
    margin-bottom: 1rem; /* Adjusted margin using rem */
}
@media screen and (min-width:1366px) {
    .services-section .column1 h2,
    .services-section .column1 p {
        font-size: 1.8rem; /* Adjust the font size as needed */
    }
    .services-section .column3 h2,
    .services-section .column3 p {
        font-size: 1.8rem; /* Adjust the font size as needed */
    }

}

@media screen and (max-width: 768px) {
    .services-section {
        flex-direction: column;

    }
    .services-section .column{
        width: 100%;
    }
    .services-section .column2 {
        display: none;
    }
}